{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <br>
    <h1>Mano įrašai</h1>
    <div class="notes">
        {% for irasas in irasai %}
        <div class="note">
            <h2 class="text-info">{{ irasas.pavadinimas }}</h2>
            <p>{{ irasas.tekstas}}</p>
            <p>{{ irasas.kategorija}}</p>
            <div class="options">
                <a href="/update/{{ irasas.id }}/" class="btn btn-success btn-sm">Redaguoti</a>
                <a href="/delete/{{ irasas.id }}/" class="btn btn-danger btn-sm">Ištrinti</a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
<div class="add-modal" id="add-modal">
    <div class="form">
        <form action="" method="post">
            {% csrf_token %}
            <h3>Pridėti įrašą</h3>
            {{ form | crispy }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm">Išsaugoti</button>
                <button type="button" class="btn btn-danger close-btn btn-sm" onclick="closeModal('add-modal')">Atšaukti</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
