{% extends 'base.html' %}
{% block title %}Užrašinė - Pieškos rezultatai{% endblock title %}
{% load static %}
{% block content %}
<div class="container">
    <br>
    <h1>Paieškos pagal "{{ query }}" rezultatai:</h1>
    <div class="notes">
        {% if main %}
        <ul class="nobull">
            {% for irasas in main %}
            <li>
                <p class="text-info fw-light">{{ irasas.pavadinimas }}</p>
                <p class="fw-light">{{ irasas.tekstas }}</p>
                <p class="fw-light">{{ irasas.kategorija }}</p>
            </li>
            <hr>
            {% endfor %}
        </ul>
        {% else %}
        <br>
        <h1>Nieko neradome :(</h1>
        {% endif %}
    </div>
</div>
{% endblock %}
